/*
* styles for settings page
*/
#gglcptch_v1_notice {
	border-color: #00a0d2 !important;
}
#gglcptch-keys input[type=text] {
	max-width: 350px;
	width: 100%;
}
.gglcptch_verified {
	color: #03AA03;
}
.gglcptch_error_msg {
	color: #dc3232;
}