#adminmenu #toplevel_page_bws_plugins div.wp-menu-image,
.admin-color-classic #adminmenu #toplevel_page_bws_plugins div.wp-menu-image,
#adminmenu #toplevel_page_bws_plugins:hover div.wp-menu-image,
#adminmenu #toplevel_page_bws_plugins.wp-has-current-submenu div.wp-menu-image {
	background: url("../images/icon_16_single.png") no-repeat scroll center center transparent;
}
#adminmenu #toplevel_page_bws_plugins.wp-not-current-submenu div.wp-menu-image {
    opacity: 0.7;
}
#toplevel_page_bws_plugins .wp-submenu .wp-first-item {
	display: none;
}
/*
* styles for rate-support div on the settings page
*/
.bws-plugin-reviews {
    background: none repeat scroll 0 0 #BEE1F1;
    border: 1px solid #70A8C2;
    border-radius: 3px;
    max-width: 700px;
}
.bws-plugin-reviews-rate {
    padding: 10px;
    border-bottom: 1px dashed #70A8C2;
}
.bws-plugin-reviews-support {
    padding: 10px;
}
/*
* styles for settings page
*/
#gglcptch-keys input[type=text] {
	width: 250px;
}
